In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
os.chdir('/Users/chrissoria/Documents/Research/BICS_Political_Polarization/')

In [3]:
col_types = {
    'FIPS_Code': str,
    'District': str,
    'CD':str
}

CD_df = pd.read_csv('House_Reps_District.csv', dtype=col_types)
CD_df

,Name,State,District,Party,Years_Served,FIPS_Code,CD
0,"Abraham, Ralph Lee",Louisiana,05,Republican,House: 2015-2021,22,2205
1,"Adams, Alma S.",North Carolina,12,Democratic,House: 2014-Present,37,3712
2,"Aderholt, Robert B.",Alabama,04,Republican,House: 1997-Present,01,0104
3,"Aguilar, Pete",California,33,Democratic,House: 2015-Present,06,0633
4,"Allen, Rick W.",Georgia,12,Republican,House: 2015-Present,13,1312
...,...,...,...,...,...,...,...
432,"Wright, Ron",Texas,06,Republican,House: 2019-2021,48,4806
433,"Yarmuth, John A.",Kentucky,03,Democratic,House: 2007-2023,21,2103
434,"Yoho, Ted S.",Florida,03,Republican,House: 2013-2021,12,1203
435,"Young, Don",Alaska,00,Republican,House: 1973-2022,02,0200
436,"Zeldin, Lee M.",New York,01,Republican,House: 2015-2023,36,3601

In [4]:
ZIP_to_CD_df = pd.read_excel('Data/Partisanship and Health Behavior/Data/CD_ZIP_062020_HUD.xlsx')
ZIP_to_CD_df

         CD    ZIP  RES_RATIO  BUS_RATIO  OTH_RATIO  TOT_RATIO
0      0101  36502   0.021779   0.024061   0.022815   0.021985
1      0101  36536   0.003748   0.007895   0.000228   0.004019
2      0101  36551   0.010403   0.006042   0.006502   0.009972
3      0101  36560   0.003042   0.001611   0.006959   0.003001
4      0101  36559   0.002026   0.003196   0.000114   0.002085
...     ...    ...        ...        ...        ...        ...
45909  7800    830   0.039641   0.012427   0.000612   0.032386
45910  7800    820   0.227821   0.297565   0.445532   0.252594
45911  7800    840   0.162177   0.092527   0.184211   0.150008
45912  7800    802   0.504589   0.548111   0.366585   0.505671
45913  7800    850   0.065772   0.049370   0.003060   0.059341

[45914 rows x 6 columns]

In [18]:
col_types = {
    'COUNTY': str,
    'ZIP': str
}

ZIP_to_County_df = pd.read_excel('Data/Partisanship and Health Behavior/Data/ZIP_COUNTY_062020_HUD.xlsx')
ZIP_to_County_df['COUNTY'] = ZIP_to_County_df['COUNTY'].astype(str).str.zfill(5)
ZIP_to_County_df['ZIP'] = ZIP_to_County_df['ZIP'].astype(str).str.zfill(5)


ZIP_to_County_df

         ZIP COUNTY  RES_RATIO  BUS_RATIO  OTH_RATIO  TOT_RATIO
0      00501  36103   0.000000   1.000000   0.000000   1.000000
1      00601  72113   0.160758   0.199017   0.128834   0.162397
2      00601  72001   0.839242   0.800983   0.871166   0.837603
3      00602  72003   1.000000   0.998801   1.000000   0.999919
4      00602  72005   0.000000   0.001199   0.000000   0.000081
...      ...    ...        ...        ...        ...        ...
54192  99925  02198   0.000000   0.000000   1.000000   1.000000
54193  99926  02198   0.000000   0.000000   1.000000   1.000000
54194  99927  02198   0.000000   0.000000   1.000000   1.000000
54195  99928  02130   0.000000   0.000000   1.000000   1.000000
54196  99929  02275   0.000000   0.000000   1.000000   1.000000

[54197 rows x 6 columns]

In [6]:
ZIP_to_CD_df['CD'] = ZIP_to_CD_df['CD'].astype(str)
CD_df['CD'] = CD_df['CD'].astype(str)


ZIP_to_CD_df = pd.merge(ZIP_to_CD_df, CD_df, on = "CD", how= "left")

In [7]:
ZIP_to_CD_df

,CD,ZIP,RES_RATIO,BUS_RATIO,OTH_RATIO,TOT_RATIO,Name,State,District,Party,Years_Served,FIPS_Code
0,0101,36502,0.021779,0.024061,0.022815,0.021985,"Byrne, Bradley",Alabama,01,Republican,House: 2014-2021,01
1,0101,36536,0.003748,0.007895,0.000228,0.004019,"Byrne, Bradley",Alabama,01,Republican,House: 2014-2021,01
2,0101,36551,0.010403,0.006042,0.006502,0.009972,"Byrne, Bradley",Alabama,01,Republican,House: 2014-2021,01
3,0101,36560,0.003042,0.001611,0.006959,0.003001,"Byrne, Bradley",Alabama,01,Republican,House: 2014-2021,01
4,0101,36559,0.002026,0.003196,0.000114,0.002085,"Byrne, Bradley",Alabama,01,Republican,House: 2014-2021,01
...,...,...,...,...,...,...,...,...,...,...,...,...
48291,7800,830,0.039641,0.012427,0.000612,0.032386,NaN,NaN,NaN,NaN,NaN,NaN
48292,7800,820,0.227821,0.297565,0.445532,0.252594,NaN,NaN,NaN,NaN,NaN,NaN
48293,7800,840,0.162177,0.092527,0.184211,0.150008,NaN,NaN,NaN,NaN,NaN,NaN
48294,7800,802,0.504589,0.548111,0.366585,0.505671,NaN,NaN,NaN,NaN,NaN,NaN
48295,7800,850,0.065772,0.049370,0.003060,0.059341,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
Below, we need to add a leading "0" to the FIPS code (FIPS codes are all 5 digits)

In [13]:
col_types = {
    'FIPS County Code': str
}

CDC_deaths = pd.read_csv('Data/Partisanship and Health Behavior/Data/Provisional_COVID-19_Death_Counts_in_the_United_States_by_County.csv')
CDC_deaths['FIPS County Code'] = CDC_deaths['FIPS County Code'].astype(str).str.zfill(5)
CDC_deaths.head()

,Date as of,Start Date,End Date,State,County name,FIPS County Code,Urban Rural Code,Deaths involving COVID-19,Deaths from All Causes,Footnote
0,06/28/2023,01/01/2020,06/24/2023,AK,Aleutians East Borough,02013,Noncore,NaN,25,One or more data cells have counts between 1-9...
1,06/28/2023,01/01/2020,06/24/2023,AK,Anchorage Municipality,02020,Medium metro,775.0,8869,NaN
2,06/28/2023,01/01/2020,06/24/2023,AK,Bethel Census Area,02050,Noncore,40.0,395,NaN
3,06/28/2023,01/01/2020,06/24/2023,AK,Denali Borough,02068,Noncore,NaN,31,One or more data cells have counts between 1-9...
4,06/28/2023,01/01/2020,06/24/2023,AK,Dillingham Census Area,02070,Noncore,NaN,115,One or more data cells have counts between 1-9...